@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

body {
  margin: 0;
  padding: 40px;
}

.weather {
  font-family: 'Open Sans Condensed', sans-serif;
  background: linear-gradient(to bottom right, #04BACC, #000);
  width: 480px;
  font-size: 21px;
  line-height: 1.5;
  color: #fff;
}

.today {
  padding: 40px 60px;
  display: flex;
  border-bottom: 1px solid #68d5e0;
}

.today .weather-icon {
  font-size: 162px;
}

.today .weather-detail .current-temperature {
  font-size: 92px;  
}

.today .weather-detail {
  padding-left: 75px;
}

.week {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.day {
  flex-grow: 1;
  padding: 21px 9px;
  text-align: center;
  border-right: 1px solid #68d5e0;
}

.day:last-child {
  border-right: 0;
}

.day .weather-icon {
  margin: 5px 0;
  color: #fff;
}

.day .temperature {
  font-size: 16px;
}
